body{
    background-color: #4141af;
}

.MuiGrid-container{
    width:auto !important;
    display:block !important;
}

input:focus
{
    outline:  none;
    transform: scale(1.08);
}

input[type="text"] {
    padding: 10px 16px;
    font-size: 16px;
    color: var(--black);
    background-color: #fff;
    border: 1px solid #597183;
    border-radius: 8px;
    margin-top: 5px;
    width: 100%;
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar {
    display: none;
}